reference/make/blueprints/3 -Wod - Wodely - AirTable - TrackPOD.blueprint.json
{
    "name": "3 -Wod - Wodely - AirTable - TrackPOD",
    "flow": [
        {
            "id": 1,ay
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7829322
            },
            "mapper": {
                "base": "appWKD6dpoFTeTLUI",
                "sort": [
                    {
                        "field": "Created Time",
                        "direction": "asc"
                    }
                ],
                "view": "viwIgQbZOIg51OZuW",
                "table": "tbl8AR7buODtDA20F",
                "formula": "AND(\n  {Source System}=\"Wodely\",\n  {Lifecycle Status}=\"READY_FOR_TRACKPOD\",\n  OR(\n    {Payment Status}=\"PAID\",\n    {Payment Status}=\"ACCOUNT\",\n    {Payment Type}=\"ACCOUNT\"\n  ),\n  OR(\n    {TrackPOD Collection ID}=\"\",\n    {TrackPOD Delivery ID}=\"\"\n  ),\n  {Collection Address}!=\"\",\n  {Delivery Address}!=\"\",\n  {Collection Name}!=\"\",\n  {Delivery Name}!=\"\"\n)",
                "maxRecords": "50",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -58,
                    "y": 163
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Nexus Delivery Control Tower"
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "Created Time"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Consignments"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Nexus OAuth connection (User ID: usr1IOhSI9VtrD96X)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Consignment Ref",
                        "type": "text",
                        "label": "Consignment Ref"
                    },
                    {
                        "name": "External Order ID",
                        "type": "text",
                        "label": "External Order ID"
                    },
                    {
                        "name": "TrackPOD Order Ref",
                        "type": "text",
                        "label": "TrackPOD Order Ref"
                    },
                    {
                        "name": "Source System",
                        "type": "text",
                        "label": "Source System"
                    },
                    {
                        "name": "Sales Channel",
                        "type": "text",
                        "label": "Sales Channel"
                    },
                    {
                        "name": "Lifecycle Status",
                        "type": "text",
                        "label": "Lifecycle Status"
                    },
                    {
                        "name": "Goods Description",
                        "type": "text",
                        "label": "Goods Description",
                        "multiline": true
                    },
                    {
                        "name": "TrackPOD Goods",
                        "type": "text",
                        "label": "TrackPOD Goods"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Payment Type",
                        "type": "text",
                        "label": "Payment Type"
                    },
                    {
                        "name": "Invoice Required",
                        "type": "text",
                        "label": "Invoice Required"
                    },
                    {
                        "name": "Payment Status",
                        "type": "text",
                        "label": "Payment Status"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Customer Name",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Customer Name"
                    },
                    {
                        "name": "Customer Email",
                        "type": "text",
                        "label": "Customer Email"
                    },
                    {
                        "name": "Collection Name",
                        "type": "text",
                        "label": "Collection Name"
                    },
                    {
                        "name": "Colllection Email",
                        "type": "text",
                        "label": "Colllection Email"
                    },
                    {
                        "name": "Collection Address",
                        "type": "text",
                        "label": "Collection Address"
                    },
                    {
                        "name": "Collection Phone",
                        "type": "text",
                        "label": "Collection Phone"
                    },
                    {
                        "name": "Collection Required",
                        "type": "boolean",
                        "label": "Collection Required"
                    },
                    {
                        "name": "Delivery Name",
                        "type": "text",
                        "label": "Delivery Name"
                    },
                    {
                        "name": "Delivery Email",
                        "type": "text",
                        "label": "Delivery Email"
                    },
                    {
                        "name": "Delivery Address",
                        "type": "text",
                        "label": "Delivery Address"
                    },
                    {
                        "name": "Delivery Phone",
                        "type": "text",
                        "label": "Delivery Phone"
                    },
                    {
                        "name": "Shipper",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Shipper"
                    },
                    {
                        "name": "Collection Postcode",
                        "type": "text",
                        "label": "Collection Postcode"
                    },
                    {
                        "name": "Delivery Postcode",
                        "type": "text",
                        "label": "Delivery Postcode"
                    },
                    {
                        "name": "Expected Collection Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Collection Date"
                    },
                    {
                        "name": "Expected Warehouse Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Warehouse Date"
                    },
                    {
                        "name": "Requested Delivery Date",
                        "time": false,
                        "type": "date",
                        "label": "Requested Delivery Date"
                    },
                    {
                        "name": "Provisional Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Provisional Route"
                    },
                    {
                        "name": "Final Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Final Route"
                    },
                    {
                        "name": "TrackPOD Collection ID",
                        "type": "text",
                        "label": "TrackPOD Collection ID"
                    },
                    {
                        "name": "TrackPOD Delivery ID",
                        "type": "text",
                        "label": "TrackPOD Delivery ID"
                    },
                    {
                        "name": "Xero Invoice ID",
                        "type": "text",
                        "label": "Xero Invoice ID"
                    },
                    {
                        "name": "ORDER VALUE",
                        "type": "number",
                        "label": "ORDER VALUE"
                    },
                    {
                        "name": "Amount Due",
                        "type": "number",
                        "label": "Amount Due"
                    },
                    {
                        "name": "STRIPE GUID",
                        "type": "text",
                        "label": "STRIPE GUID"
                    },
                    {
                        "name": "Stripe Payment ID",
                        "type": "text",
                        "label": "Stripe Payment ID"
                    },
                    {
                        "name": "Route Planning Status",
                        "type": "text",
                        "label": "Route Planning Status"
                    },
                    {
                        "name": "Delivery Confidence",
                        "type": "number",
                        "label": "Delivery Confidence"
                    },
                    {
                        "name": "Invoice Status",
                        "type": "text",
                        "label": "Invoice Status"
                    },
                    {
                        "name": "POD Status",
                        "type": "text",
                        "label": "POD Status"
                    },
                    {
                        "name": "Warehouse Status",
                        "type": "text",
                        "label": "Warehouse Status"
                    },
                    {
                        "name": "Capacity Requirement",
                        "type": "number",
                        "label": "Capacity Requirement"
                    },
                    {
                        "name": "Weight",
                        "type": "number",
                        "label": "Weight"
                    },
                    {
                        "name": "Consignment Events",
                        "type": "number",
                        "label": "Consignment Events"
                    },
                    {
                        "name": "Events",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Events"
                    },
                    {
                        "name": "Last Event Timestamp",
                        "type": "array",
                        "label": "Last Event Timestamp"
                    },
                    {
                        "name": "First Event Timestamp",
                        "type": "array",
                        "label": "First Event Timestamp"
                    },
                    {
                        "name": "Customer Company Name",
                        "type": "array",
                        "label": "Customer Company Name"
                    },
                    {
                        "name": "Shipper Contact Email",
                        "type": "array",
                        "label": "Shipper Contact Email"
                    },
                    {
                        "name": "Provisional Route Date",
                        "type": "array",
                        "label": "Provisional Route Date"
                    },
                    {
                        "name": "Final Route Date",
                        "type": "array",
                        "label": "Final Route Date"
                    },
                    {
                        "name": "Remaining Capacity on Final Route",
                        "type": "array",
                        "label": "Remaining Capacity on Final Route"
                    },
                    {
                        "name": "Consignment Summary (AI)",
                        "type": "text",
                        "label": "Consignment Summary (AI)"
                    },
                    {
                        "name": "Proactive Risk/Delay Alert (AI)",
                        "type": "text",
                        "label": "Proactive Risk/Delay Alert (AI)"
                    },
                    {
                        "name": "Payment Verification Method",
                        "type": "text",
                        "label": "Payment Verification Method"
                    },
                    {
                        "name": "Goods Quantity",
                        "type": "number",
                        "label": "Goods Quantity"
                    },
                    {
                        "name": "Goods Weight",
                        "type": "number",
                        "label": "Goods Weight"
                    },
                    {
                        "name": "Special Instructions",
                        "type": "text",
                        "label": "Special Instructions",
                        "multiline": true
                    },
                    {
                        "name": "Consignment Status",
                        "type": "text",
                        "label": "Consignment Status"
                    },
                    {
                        "name": "Wodely Collection GUID",
                        "type": "text",
                        "label": "Wodely Collection GUID"
                    },
                    {
                        "name": "Wodely Delivery GUID",
                        "type": "text",
                        "label": "Wodely Delivery GUID"
                    },
                    {
                        "name": "Shipper Name",
                        "type": "text",
                        "label": "Shipper Name"
                    },
                    {
                        "name": "Depot Ship From",
                        "type": "text",
                        "label": "Depot Ship From"
                    },
                    {
                        "name": "Service Required",
                        "type": "text",
                        "label": "Service Required"
                    },
                    {
                        "name": "Vehicle Required",
                        "type": "text",
                        "label": "Vehicle Required"
                    },
                    {
                        "name": "Handling Requirement",
                        "type": "text",
                        "label": "Handling Requirement"
                    },
                    {
                        "name": "Product Description",
                        "type": "text",
                        "label": "Product Description"
                    },
                    {
                        "name": "Additional Items",
                        "type": "text",
                        "label": "Additional Items"
                    },
                    {
                        "name": "Number Of Items",
                        "type": "number",
                        "label": "Number Of Items"
                    },
                    {
                        "name": "Merchant Order Number",
                        "type": "text",
                        "label": "Merchant Order Number"
                    },
                    {
                        "name": "TrackPOD Route Assigned",
                        "type": "text",
                        "label": "TrackPOD Route Assigned"
                    },
                    {
                        "name": "TRACKPOD DATE FIELD FOR SEARCH MODULE",
                        "type": "text",
                        "label": "TRACKPOD DATE FIELD FOR SEARCH MODULE"
                    },
                    {
                        "name": "TRACKPOD EXPECTED COLLECTION DATE",
                        "type": "text",
                        "label": "TRACKPOD EXPECTED COLLECTION DATE"
                    },
                    {
                        "name": "TRACKPOD DATE",
                        "type": "text",
                        "label": "TRACKPOD DATE"
                    },
                    {
                        "name": "TRACKPOD COLLECTION DATE",
                        "type": "text",
                        "label": "TRACKPOD COLLECTION DATE"
                    },
                    {
                        "name": "Wodely Photo URL",
                        "type": "text",
                        "label": "Wodely Photo URL"
                    },
                    {
                        "name": "TRACKPOD PHOTO & NOTE",
                        "type": "text",
                        "label": "TRACKPOD PHOTO & NOTE"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7829322
            },
            "filter": {
                "name": "Total number of bundles > 0",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "base": "appWKD6dpoFTeTLUI",
                "table": "tbl8AR7buODtDA20F",
                "formula": "AND(\n  {External Order ID} = \"{{1.`External Order ID`}}\",\n  OR(\n    {TrackPOD Collection ID} != \"\",\n    {TrackPOD Delivery ID} != \"\"\n  )\n)",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 312,
                    "y": 27
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Nexus Delivery Control Tower"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Consignments"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Nexus OAuth connection (User ID: usr1IOhSI9VtrD96X)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Consignment Ref",
                        "type": "text",
                        "label": "Consignment Ref"
                    },
                    {
                        "name": "Source System",
                        "type": "text",
                        "label": "Source System"
                    },
                    {
                        "name": "Sales Channel",
                        "type": "text",
                        "label": "Sales Channel"
                    },
                    {
                        "name": "External Order ID",
                        "type": "text",
                        "label": "External Order ID"
                    },
                    {
                        "name": "Lifecycle Status",
                        "type": "text",
                        "label": "Lifecycle Status"
                    },
                    {
                        "name": "Goods Description",
                        "type": "text",
                        "label": "Goods Description",
                        "multiline": true
                    },
                    {
                        "name": "TrackPOD Goods",
                        "type": "text",
                        "label": "TrackPOD Goods"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Payment Type",
                        "type": "text",
                        "label": "Payment Type"
                    },
                    {
                        "name": "Invoice Required",
                        "type": "text",
                        "label": "Invoice Required"
                    },
                    {
                        "name": "Payment Status",
                        "type": "text",
                        "label": "Payment Status"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Customer Name",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Customer Name"
                    },
                    {
                        "name": "Customer Email",
                        "type": "text",
                        "label": "Customer Email"
                    },
                    {
                        "name": "Collection Name",
                        "type": "text",
                        "label": "Collection Name"
                    },
                    {
                        "name": "Colllection Email",
                        "type": "text",
                        "label": "Colllection Email"
                    },
                    {
                        "name": "Collection Address",
                        "type": "text",
                        "label": "Collection Address"
                    },
                    {
                        "name": "Collection Phone",
                        "type": "text",
                        "label": "Collection Phone"
                    },
                    {
                        "name": "Collection Required",
                        "type": "boolean",
                        "label": "Collection Required"
                    },
                    {
                        "name": "Delivery Name",
                        "type": "text",
                        "label": "Delivery Name"
                    },
                    {
                        "name": "Delivery Email",
                        "type": "text",
                        "label": "Delivery Email"
                    },
                    {
                        "name": "Delivery Address",
                        "type": "text",
                        "label": "Delivery Address"
                    },
                    {
                        "name": "Delivery Phone",
                        "type": "text",
                        "label": "Delivery Phone"
                    },
                    {
                        "name": "Shipper",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Shipper"
                    },
                    {
                        "name": "Collection Postcode",
                        "type": "text",
                        "label": "Collection Postcode"
                    },
                    {
                        "name": "Delivery Postcode",
                        "type": "text",
                        "label": "Delivery Postcode"
                    },
                    {
                        "name": "Expected Collection Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Collection Date"
                    },
                    {
                        "name": "Expected Warehouse Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Warehouse Date"
                    },
                    {
                        "name": "Requested Delivery Date",
                        "time": false,
                        "type": "date",
                        "label": "Requested Delivery Date"
                    },
                    {
                        "name": "Provisional Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Provisional Route"
                    },
                    {
                        "name": "Final Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Final Route"
                    },
                    {
                        "name": "TrackPOD Collection ID",
                        "type": "text",
                        "label": "TrackPOD Collection ID"
                    },
                    {
                        "name": "TrackPOD Delivery ID",
                        "type": "text",
                        "label": "TrackPOD Delivery ID"
                    },
                    {
                        "name": "Xero Invoice ID",
                        "type": "text",
                        "label": "Xero Invoice ID"
                    },
                    {
                        "name": "ORDER VALUE",
                        "type": "number",
                        "label": "ORDER VALUE"
                    },
                    {
                        "name": "Amount Due",
                        "type": "number",
                        "label": "Amount Due"
                    },
                    {
                        "name": "STRIPE GUID",
                        "type": "text",
                        "label": "STRIPE GUID"
                    },
                    {
                        "name": "Stripe Payment ID",
                        "type": "text",
                        "label": "Stripe Payment ID"
                    },
                    {
                        "name": "Route Planning Status",
                        "type": "text",
                        "label": "Route Planning Status"
                    },
                    {
                        "name": "Delivery Confidence",
                        "type": "number",
                        "label": "Delivery Confidence"
                    },
                    {
                        "name": "Invoice Status",
                        "type": "text",
                        "label": "Invoice Status"
                    },
                    {
                        "name": "POD Status",
                        "type": "text",
                        "label": "POD Status"
                    },
                    {
                        "name": "Warehouse Status",
                        "type": "text",
                        "label": "Warehouse Status"
                    },
                    {
                        "name": "Capacity Requirement",
                        "type": "number",
                        "label": "Capacity Requirement"
                    },
                    {
                        "name": "Weight",
                        "type": "number",
                        "label": "Weight"
                    },
                    {
                        "name": "Consignment Events",
                        "type": "number",
                        "label": "Consignment Events"
                    },
                    {
                        "name": "Events",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Events"
                    },
                    {
                        "name": "Last Event Timestamp",
                        "type": "array",
                        "label": "Last Event Timestamp"
                    },
                    {
                        "name": "First Event Timestamp",
                        "type": "array",
                        "label": "First Event Timestamp"
                    },
                    {
                        "name": "Customer Company Name",
                        "type": "array",
                        "label": "Customer Company Name"
                    },
                    {
                        "name": "Shipper Contact Email",
                        "type": "array",
                        "label": "Shipper Contact Email"
                    },
                    {
                        "name": "Provisional Route Date",
                        "type": "array",
                        "label": "Provisional Route Date"
                    },
                    {
                        "name": "Final Route Date",
                        "type": "array",
                        "label": "Final Route Date"
                    },
                    {
                        "name": "Remaining Capacity on Final Route",
                        "type": "array",
                        "label": "Remaining Capacity on Final Route"
                    },
                    {
                        "name": "Consignment Summary (AI)",
                        "type": "text",
                        "label": "Consignment Summary (AI)"
                    },
                    {
                        "name": "Proactive Risk/Delay Alert (AI)",
                        "type": "text",
                        "label": "Proactive Risk/Delay Alert (AI)"
                    },
                    {
                        "name": "Payment Verification Method",
                        "type": "text",
                        "label": "Payment Verification Method"
                    },
                    {
                        "name": "Goods Quantity",
                        "type": "number",
                        "label": "Goods Quantity"
                    },
                    {
                        "name": "Goods Weight",
                        "type": "number",
                        "label": "Goods Weight"
                    },
                    {
                        "name": "Special Instructions",
                        "type": "text",
                        "label": "Special Instructions",
                        "multiline": true
                    },
                    {
                        "name": "Consignment Status",
                        "type": "text",
                        "label": "Consignment Status"
                    },
                    {
                        "name": "Wodely Collection GUID",
                        "type": "text",
                        "label": "Wodely Collection GUID"
                    },
                    {
                        "name": "Wodely Delivery GUID",
                        "type": "text",
                        "label": "Wodely Delivery GUID"
                    },
                    {
                        "name": "Shipper Name",
                        "type": "text",
                        "label": "Shipper Name"
                    },
                    {
                        "name": "Depot Ship From",
                        "type": "text",
                        "label": "Depot Ship From"
                    },
                    {
                        "name": "TrackPOD Order Ref",
                        "type": "text",
                        "label": "TrackPOD Order Ref"
                    },
                    {
                        "name": "Service Required",
                        "type": "text",
                        "label": "Service Required"
                    },
                    {
                        "name": "Vehicle Required",
                        "type": "text",
                        "label": "Vehicle Required"
                    },
                    {
                        "name": "Handling Requirement",
                        "type": "text",
                        "label": "Handling Requirement"
                    },
                    {
                        "name": "Product Description",
                        "type": "text",
                        "label": "Product Description"
                    },
                    {
                        "name": "Additional Items",
                        "type": "text",
                        "label": "Additional Items"
                    },
                    {
                        "name": "Number Of Items",
                        "type": "number",
                        "label": "Number Of Items"
                    },
                    {
                        "name": "Merchant Order Number",
                        "type": "text",
                        "label": "Merchant Order Number"
                    },
                    {
                        "name": "TrackPOD Route Assigned",
                        "type": "text",
                        "label": "TrackPOD Route Assigned"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.track-pod.com/Order",
                "method": "post",
                "headers": [
                    {
                        "name": "X-API-KEY",
                        "value": "019e8317-eea1-7539-a5e8-a881b0afd97c"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Accept",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\n  \"Number\":\"{{1.`TrackPOD Order Ref`}}\",\n  \"Id\":\"{{1.`TrackPOD Order Ref`}}\",\n  \"Type\":0,\n  \"Date\":\"{{ifempty(1.`Requested Delivery Date` + formatDate(; \"YYYY-MM-DD\"); formatDate(1.`Expected Collection Date`; \"YYYY-MM-DD\"))}}\",\n  \"Client\":\"{{ifempty(1.`Delivery Name`; 1.`Collection Name`)}}\",\n  \"ContactName\":\"{{ifempty(1.`Delivery Name`; 1.`Collection Name`)}}\",\n  \"Address\":\"{{1.`Delivery Address`}}\",\n  \"Phone\":\"{{1.`Delivery Phone`}}\",\n  \"Email\":\"{{1.`Delivery Email`}}\",\n  \"Shipper\":\"{{1.`Shipper Name`}}\",\n  \"GoodsList\":[\n     {\n      \"GoodsName\":\"{{1.`TrackPOD Goods`}}\",\n      \"GoodsUnit\":\"pcs\",\n      \"Quantity\":1,\n      \"Note\":\"\"\n    }\n  ]\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 598,
                    "y": -157,
                    "name": "Create Track-POD Delivery"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.track-pod.com/Order",
                "method": "post",
                "headers": [
                    {
                        "name": "X-API-KEY",
                        "value": "019e8317-eea1-7539-a5e8-a881b0afd97c"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Accept",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\n  \"Number\":\"{{1.`TrackPOD Order Ref`}}\",\n  \"Id\":\"{{1.`TrackPOD Order Ref`}}\",\n  \"Type\":1,\n\"Client\":\"{{ifempty(1.`Collection Name`; 1.`Shipper Name`)}}\",\n\"ContactName\":\"{{ifempty(1.`Collection Name`; 1.`Shipper Name`)}}\",\n\"Address\":\"{{1.`Collection Address`}}\",\n\"Phone\":\"{{1.`Collection Phone`}}\",\n\"Email\":\"{{1.`Colllection Email`}}\",\n  \"Shipper\":\"{{1.`Shipper Name`}}\",\n\"GoodsList\":[\n  {\n    \"GoodsName\":\"{{1.`TrackPOD Goods`}}\",\n    \"GoodsUnit\":\"pcs\",\n    \"Quantity\":1,\n    \"Note\":\"{{1.`TRACKPOD PHOTO & NOTE`}}\"\n  }\n]\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 878,
                    "y": -356,
                    "name": "Create Track-POD Collection"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7829322
            },
            "mapper": {
                "id": "{{1.id}}",
                "base": "appWKD6dpoFTeTLUI",
                "table": "tbl8AR7buODtDA20F",
                "record": {
                    "fldFLwCFNOwaQaFxy": "{{2.headers.location}}",
                    "fldZos9QwXEL0WLZW": "{{3.headers.location}}",
                    "fldt7MgFBgq3cE8Ri": "READY_FOR_ROUTE"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1108,
                    "y": -173
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Nexus Delivery Control Tower"
                        },
                        "table": {
                            "label": "Consignments"
                        },
                        "record": {
                            "nested": {
                                "fld2BeA6sSKucebZS": {
                                    "mode": "edit"
                                },
                                "fld2nmM131hZ8cYch": {
                                    "mode": "edit"
                                },
                                "fld3WjgVcG3dUhgq6": {
                                    "mode": "chose"
                                },
                                "fld5hdGaWa9s55Uun": {
                                    "mode": "edit"
                                },
                                "fld76sklOvx2BPQni": {
                                    "mode": "chose"
                                },
                                "fldDjAqToEDOzrjys": {
                                    "mode": "edit"
                                },
                                "fldEuJgmL119UGsXI": {
                                    "mode": "edit"
                                },
                                "fldGkwgQBiap97tnY": {
                                    "mode": "edit"
                                },
                                "fldHDIwLr7nHuP4lO": {
                                    "mode": "chose"
                                },
                                "fldJEHUkNYivBs7qR": {
                                    "mode": "edit"
                                },
                                "fldKPphM6lnzyQMXv": {
                                    "mode": "edit"
                                },
                                "fldPwBqXhtSsy4Yr1": {
                                    "mode": "chose"
                                },
                                "fldQ5CIjTQdqSPEa0": {
                                    "mode": "chose"
                                },
                                "fldRiPBUx0KPziFpZ": {
                                    "mode": "chose"
                                },
                                "fldcN1B02cmiMXcr2": {
                                    "mode": "edit"
                                },
                                "fldcWJ2W2UiSnKpvk": {
                                    "mode": "edit"
                                },
                                "fldfeEsEahIpD7JFR": {
                                    "mode": "edit"
                                },
                                "fldhmXx9DovPahJgF": {
                                    "mode": "edit"
                                },
                                "fldjyEDCSWuNIGkmw": {
                                    "mode": "edit"
                                },
                                "fldt7MgFBgq3cE8Ri": {
                                    "mode": "chose",
                                    "label": "READY_FOR_ROUTE"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "Nexus OAuth connection (User ID: usr1IOhSI9VtrD96X)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldHKxQbHejwNuoEW",
                                "type": "text",
                                "label": "Consignment Ref"
                            },
                            {
                                "mode": "edit",
                                "name": "fldjyEDCSWuNIGkmw",
                                "type": "select",
                                "label": "Source System"
                            },
                            {
                                "mode": "edit",
                                "name": "fldfeEsEahIpD7JFR",
                                "type": "select",
                                "label": "Sales Channel"
                            },
                            {
                                "name": "fldDLeMi5ujW4crax",
                                "type": "text",
                                "label": "External Order ID"
                            },
                            {
                                "mode": "edit",
                                "name": "fldt7MgFBgq3cE8Ri",
                                "type": "select",
                                "label": "Lifecycle Status"
                            },
                            {
                                "name": "fldTRhwWr9XULffZd",
                                "type": "text",
                                "label": "Goods Description"
                            },
                            {
                                "name": "fldoA0iBs0unufAei",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "mode": "edit",
                                "name": "fldhmXx9DovPahJgF",
                                "type": "select",
                                "label": "Payment Type"
                            },
                            {
                                "mode": "edit",
                                "name": "fldcN1B02cmiMXcr2",
                                "type": "select",
                                "label": "Invoice Required"
                            },
                            {
                                "mode": "edit",
                                "name": "fld5hdGaWa9s55Uun",
                                "type": "select",
                                "label": "Payment Status"
                            },
                            {
                                "name": "fldHDIwLr7nHuP4lO",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Customer Name"
                            },
                            {
                                "name": "fld4L7kMHJNVHgefK",
                                "type": "text",
                                "label": "Customer Email"
                            },
                            {
                                "name": "fldrF9m5gZb5XIVy7",
                                "type": "text",
                                "label": "Collection Name"
                            },
                            {
                                "name": "fldeG3di3uuyZpvde",
                                "type": "text",
                                "label": "Colllection Email"
                            },
                            {
                                "name": "fldQBiULOUiy8J1C8",
                                "type": "text",
                                "label": "Collection Address"
                            },
                            {
                                "name": "fldSe1LMbZmiRaoVl",
                                "type": "text",
                                "label": "Collection Phone"
                            },
                            {
                                "name": "fld3WjgVcG3dUhgq6",
                                "type": "boolean",
                                "label": "Collection Required"
                            },
                            {
                                "name": "fldkKYFSk1mv2jcfJ",
                                "type": "text",
                                "label": "Delivery Name"
                            },
                            {
                                "name": "fldIyw7wJlu9ZWBgx",
                                "type": "text",
                                "label": "Delivery Email"
                            },
                            {
                                "name": "fldH1hLzPuh5fAAji",
                                "type": "text",
                                "label": "Delivery Address"
                            },
                            {
                                "name": "fldwxzXAHhGQGQr12",
                                "type": "text",
                                "label": "Delivery Phone"
                            },
                            {
                                "name": "fldQ5CIjTQdqSPEa0",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Shipper"
                            },
                            {
                                "name": "fldjsYDzM5yGscp2o",
                                "type": "text",
                                "label": "Collection Postcode"
                            },
                            {
                                "name": "fldZC5w53zu23Xzh9",
                                "type": "text",
                                "label": "Delivery Postcode"
                            },
                            {
                                "name": "fldIJ5pHt7qCQAmof",
                                "time": false,
                                "type": "date",
                                "label": "Expected Collection Date"
                            },
                            {
                                "name": "fldJmVeM3V2tK9bDA",
                                "time": false,
                                "type": "date",
                                "label": "Expected Warehouse Date"
                            },
                            {
                                "name": "fld48twcKqfsO0cTF",
                                "time": false,
                                "type": "date",
                                "label": "Requested Delivery Date"
                            },
                            {
                                "name": "fldPwBqXhtSsy4Yr1",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Provisional Route"
                            },
                            {
                                "name": "fld76sklOvx2BPQni",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Final Route"
                            },
                            {
                                "name": "fldZos9QwXEL0WLZW",
                                "type": "text",
                                "label": "TrackPOD Collection ID"
                            },
                            {
                                "name": "fldFLwCFNOwaQaFxy",
                                "type": "text",
                                "label": "TrackPOD Delivery ID"
                            },
                            {
                                "name": "fld8J9ZR5aErsqWug",
                                "type": "text",
                                "label": "Xero Invoice ID"
                            },
                            {
                                "name": "fldg97G2YvXyjKYsh",
                                "type": "number",
                                "label": "ORDER VALUE"
                            },
                            {
                                "name": "fldJqfOfgl6OmcfHy",
                                "type": "number",
                                "label": "Amount Due"
                            },
                            {
                                "name": "fldCdGMjX7gDp3L28",
                                "type": "text",
                                "label": "STRIPE GUID"
                            },
                            {
                                "name": "fldls4Z4beYLEE4dO",
                                "type": "text",
                                "label": "Stripe Payment ID"
                            },
                            {
                                "mode": "edit",
                                "name": "fldKPphM6lnzyQMXv",
                                "type": "select",
                                "label": "Route Planning Status"
                            },
                            {
                                "name": "fldZxt4383INnJrj2",
                                "type": "number",
                                "label": "Delivery Confidence"
                            },
                            {
                                "mode": "edit",
                                "name": "fldcWJ2W2UiSnKpvk",
                                "type": "select",
                                "label": "Invoice Status"
                            },
                            {
                                "mode": "edit",
                                "name": "fldEuJgmL119UGsXI",
                                "type": "select",
                                "label": "POD Status"
                            },
                            {
                                "mode": "edit",
                                "name": "fldDjAqToEDOzrjys",
                                "type": "select",
                                "label": "Warehouse Status"
                            },
                            {
                                "name": "fldpsG2nwiFm3GLqo",
                                "type": "number",
                                "label": "Capacity Requirement"
                            },
                            {
                                "name": "fldBukUfrlwIpzHgh",
                                "type": "number",
                                "label": "Weight"
                            },
                            {
                                "name": "fldRiPBUx0KPziFpZ",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Events"
                            },
                            {
                                "mode": "edit",
                                "name": "fldGkwgQBiap97tnY",
                                "type": "select",
                                "label": "Payment Verification Method"
                            },
                            {
                                "name": "fldnGf0nO3iSk2djO",
                                "type": "number",
                                "label": "Goods Quantity"
                            },
                            {
                                "name": "fldWH6b9HYEhKXp70",
                                "type": "number",
                                "label": "Goods Weight"
                            },
                            {
                                "name": "fldXGYqkEKcobcgcE",
                                "type": "text",
                                "label": "Special Instructions"
                            },
                            {
                                "mode": "edit",
                                "name": "fld2nmM131hZ8cYch",
                                "type": "select",
                                "label": "Consignment Status"
                            },
                            {
                                "name": "fldvpbEd7fk3C8rpP",
                                "type": "text",
                                "label": "Wodely Collection GUID"
                            },
                            {
                                "name": "fldxPhpkMGJVcdmgF",
                                "type": "text",
                                "label": "Wodely Delivery GUID"
                            },
                            {
                                "name": "fldio46Yi9YPkqWgn",
                                "type": "text",
                                "label": "Shipper Name"
                            },
                            {
                                "mode": "edit",
                                "name": "fldJEHUkNYivBs7qR",
                                "type": "select",
                                "label": "Depot Ship From"
                            },
                            {
                                "mode": "edit",
                                "name": "fld2BeA6sSKucebZS",
                                "type": "select",
                                "label": "Service Required"
                            },
                            {
                                "name": "fldSJDDBfDt3SBRsM",
                                "type": "text",
                                "label": "Additional Items"
                            },
                            {
                                "name": "fldPCLNzY1vgXjfHG",
                                "type": "number",
                                "label": "Number Of Items"
                            },
                            {
                                "name": "fldt5M9OFnopsrXpL",
                                "type": "text",
                                "label": "TrackPOD Route Assigned"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Consignment Ref",
                        "type": "text",
                        "label": "Consignment Ref"
                    },
                    {
                        "name": "Source System",
                        "type": "text",
                        "label": "Source System"
                    },
                    {
                        "name": "External Order ID",
                        "type": "text",
                        "label": "External Order ID"
                    },
                    {
                        "name": "Lifecycle Status",
                        "type": "text",
                        "label": "Lifecycle Status"
                    },
                    {
                        "name": "Goods Description",
                        "type": "text",
                        "label": "Goods Description",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Payment Type",
                        "type": "text",
                        "label": "Payment Type"
                    },
                    {
                        "name": "Invoice Required",
                        "type": "text",
                        "label": "Invoice Required"
                    },
                    {
                        "name": "Payment Status",
                        "type": "text",
                        "label": "Payment Status"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Customer Name",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Customer Name"
                    },
                    {
                        "name": "Customer Email",
                        "type": "text",
                        "label": "Customer Email"
                    },
                    {
                        "name": "Collection Name",
                        "type": "text",
                        "label": "Collection Name"
                    },
                    {
                        "name": "Colllection Email",
                        "type": "text",
                        "label": "Colllection Email"
                    },
                    {
                        "name": "Collection Address",
                        "type": "text",
                        "label": "Collection Address"
                    },
                    {
                        "name": "Collection Phone",
                        "type": "text",
                        "label": "Collection Phone"
                    },
                    {
                        "name": "Collection Required",
                        "type": "boolean",
                        "label": "Collection Required"
                    },
                    {
                        "name": "Delivery Name",
                        "type": "text",
                        "label": "Delivery Name"
                    },
                    {
                        "name": "Delivery Email",
                        "type": "text",
                        "label": "Delivery Email"
                    },
                    {
                        "name": "Delivery Address",
                        "type": "text",
                        "label": "Delivery Address"
                    },
                    {
                        "name": "Delivery Phone",
                        "type": "text",
                        "label": "Delivery Phone"
                    },
                    {
                        "name": "Shipper",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Shipper"
                    },
                    {
                        "name": "Collection Postcode",
                        "type": "text",
                        "label": "Collection Postcode"
                    },
                    {
                        "name": "Delivery Postcode",
                        "type": "text",
                        "label": "Delivery Postcode"
                    },
                    {
                        "name": "Expected Collection Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Collection Date"
                    },
                    {
                        "name": "Expected Warehouse Date",
                        "time": false,
                        "type": "date",
                        "label": "Expected Warehouse Date"
                    },
                    {
                        "name": "Requested Delivery Date",
                        "time": false,
                        "type": "date",
                        "label": "Requested Delivery Date"
                    },
                    {
                        "name": "Provisional Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Provisional Route"
                    },
                    {
                        "name": "Final Route",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Final Route"
                    },
                    {
                        "name": "TrackPOD Collection ID",
                        "type": "text",
                        "label": "TrackPOD Collection ID"
                    },
                    {
                        "name": "TrackPOD Delivery ID",
                        "type": "text",
                        "label": "TrackPOD Delivery ID"
                    },
                    {
                        "name": "Xero Invoice ID",
                        "type": "text",
                        "label": "Xero Invoice ID"
                    },
                    {
                        "name": "ORDER VALUE",
                        "type": "number",
                        "label": "ORDER VALUE"
                    },
                    {
                        "name": "Amount Due",
                        "type": "number",
                        "label": "Amount Due"
                    },
                    {
                        "name": "STRIPE GUID",
                        "type": "text",
                        "label": "STRIPE GUID"
                    },
                    {
                        "name": "Stripe Payment ID",
                        "type": "text",
                        "label": "Stripe Payment ID"
                    },
                    {
                        "name": "Route Planning Status",
                        "type": "text",
                        "label": "Route Planning Status"
                    },
                    {
                        "name": "Delivery Confidence",
                        "type": "number",
                        "label": "Delivery Confidence"
                    },
                    {
                        "name": "Invoice Status",
                        "type": "text",
                        "label": "Invoice Status"
                    },
                    {
                        "name": "POD Status",
                        "type": "text",
                        "label": "POD Status"
                    },
                    {
                        "name": "Warehouse Status",
                        "type": "text",
                        "label": "Warehouse Status"
                    },
                    {
                        "name": "Capacity Requirement",
                        "type": "number",
                        "label": "Capacity Requirement"
                    },
                    {
                        "name": "Weight",
                        "type": "number",
                        "label": "Weight"
                    },
                    {
                        "name": "Consignment Events",
                        "type": "number",
                        "label": "Consignment Events"
                    },
                    {
                        "name": "Events",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Events"
                    },
                    {
                        "name": "Last Event Timestamp",
                        "type": "array",
                        "label": "Last Event Timestamp"
                    },
                    {
                        "name": "First Event Timestamp",
                        "type": "array",
                        "label": "First Event Timestamp"
                    },
                    {
                        "name": "Customer Company Name",
                        "type": "array",
                        "label": "Customer Company Name"
                    },
                    {
                        "name": "Shipper Contact Email",
                        "type": "array",
                        "label": "Shipper Contact Email"
                    },
                    {
                        "name": "Provisional Route Date",
                        "type": "array",
                        "label": "Provisional Route Date"
                    },
                    {
                        "name": "Final Route Date",
                        "type": "array",
                        "label": "Final Route Date"
                    },
                    {
                        "name": "Remaining Capacity on Final Route",
                        "type": "array",
                        "label": "Remaining Capacity on Final Route"
                    },
                    {
                        "name": "Consignment Summary (AI)",
                        "type": "text",
                        "label": "Consignment Summary (AI)"
                    },
                    {
                        "name": "Proactive Risk/Delay Alert (AI)",
                        "type": "text",
                        "label": "Proactive Risk/Delay Alert (AI)"
                    },
                    {
                        "name": "Payment Verification Method",
                        "type": "text",
                        "label": "Payment Verification Method"
                    },
                    {
                        "name": "Goods Quantity",
                        "type": "number",
                        "label": "Goods Quantity"
                    },
                    {
                        "name": "Goods Weight",
                        "type": "number",
                        "label": "Goods Weight"
                    },
                    {
                        "name": "Special Instructions",
                        "type": "text",
                        "label": "Special Instructions",
                        "multiline": true
                    },
                    {
                        "name": "Consignment Status",
                        "type": "text",
                        "label": "Consignment Status"
                    },
                    {
                        "name": "Wodely Collection GUID",
                        "type": "text",
                        "label": "Wodely Collection GUID"
                    },
                    {
                        "name": "Wodely Delivery GUID",
                        "type": "text",
                        "label": "Wodely Delivery GUID"
                    },
                    {
                        "name": "Shipper Name",
                        "type": "text",
                        "label": "Shipper Name"
                    },
                    {
                        "name": "Depot Ship From",
                        "type": "text",
                        "label": "Depot Ship From"
                    },
                    {
                        "name": "TrackPOD Goods",
                        "type": "text",
                        "label": "TrackPOD Goods"
                    },
                    {
                        "name": "TrackPOD Order Ref",
                        "type": "text",
                        "label": "TrackPOD Order Ref"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}